<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="{% block description %}{% endblock description %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="EgoDev">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2535476345777598"
        crossorigin="anonymous"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                AOS.init();
            });
        </script>
        <title>{% block title %}{% endblock %}</title>
        {% block extrahead %}{% endblock extrahead %}
</head>
<body>
{% block content %}{% endblock %}

</body>
</html>
