{% extends 'base.html' %}
<meta name="description" content="{% block description %}Política de privacidad{% endblock description %}">
{% block title%}Política de Privacidad{% endblock title %}
{% block content %}
    <h1>Política de Privacidad</h1>

    <h2>Política de Privacidad de EgoDev para caguemos.com</h2>

    <p>En cumplimiento de lo establecido en la Ley Orgánica 15/1999 de Protección de Datos de Carácter Personal (LOPD) y el Reglamento General de Protección de Datos (RGPD), EgoDev, Egoitz Abilleira Cillero con NIF 72493906E (en adelante, «nosotros», «nuestro» o «EGODEV») se compromete a proteger su privacidad y a garantizar el correcto tratamiento de sus datos personales. Esta Política de Privacidad describe cómo recopilamos, utilizamos y protegemos la información que nos proporciona cuando utiliza nuestros servicios de <strong>CONFECCIÓN DE PÁGINAS WEB Y EXPLOTACIÓN DE SERVICIOS DE PUBLICIDAD</strong>.</p>

    <h3>Información que Recopilamos</h3>
    <p>Recolectamos información personal que usted proporciona voluntariamente al utilizar nuestros servicios, como su nombre, dirección de correo electrónico, número de teléfono y otros datos de contacto. También recopilamos información sobre su uso de nuestros servicios, incluidos datos de navegación y patrones de interacción.</p>

    <h3>Uso de la Información</h3>
    <p>Utilizamos la información recopilada para prestar y mejorar nuestros servicios de <strong>CONFECCIÓN DE PÁGINAS WEB Y EXPLOTACIÓN DE SERVICIOS DE PUBLICIDAD</strong>, así como para fines administrativos y de comunicación. Sus datos serán tratados con la confidencialidad y las medidas de seguridad requeridas por la ley.</p>

    <h3>Compartir Información</h3>
    <p>Sus datos personales no serán cedidos, compartidos ni vendidos a terceros sin su consentimiento previo, excepto en los casos en que la ley lo requiera o permita.</p>

    <h3>Derechos del Titular de los Datos</h3>
    <p>Usted tiene derecho a acceder, rectificar, cancelar u oponerse al tratamiento de sus datos personales. Puede ejercer estos derechos enviando un correo electrónico a <a href="mailto:eabilleira1@protonmail.com">eabilleira1@protonmail.com</a> o mediante una comunicación escrita dirigida al responsable legal del fichero en la siguiente dirección:</p>

    <p>Calle Batuecas 20 3 A,<br>
    37007 – Salamanca (Castilla y León).</p>

    <h3>Cookies y Tecnologías Similares</h3>
    <p>Utilizamos cookies y tecnologías similares para mejorar su experiencia en nuestro sitio web y para recopilar información sobre el uso de nuestros servicios. Puede obtener más información consultando nuestra <a href="/cookie-policy">Política de Cookies</a>.</p>

    <h3>Cambios en la Política de Privacidad</h3>
    <p>Nos reservamos el derecho de modificar esta Política de Privacidad en cualquier momento. Cualquier cambio será publicado en nuestro sitio web.</p>

    <p>Le recomendamos que lea atentamente esta Política de Privacidad y que la consulte periódicamente para estar informado sobre cómo tratamos su información personal.</p>

    <p>Si tiene alguna pregunta o inquietud sobre nuestra Política de Privacidad o el tratamiento de sus datos personales, no dude en ponerse en contacto con nosotros a través de los medios de contacto proporcionados anteriormente.</p>
{% endblock content %}
